<footer class="footer">
	<div class="footer-container container">
		<div class="contacts">
			<img
				class="footer-logo"
				src="img/LSP_logo.png"
				alt=""
			>
			<a href="tel:1.800.336.6308" class="footer-phone">1.800.336.6308</a>
			<p class="address">
				Life Science Publishing<br>
				520 S. 850 E., Unit C6<br>
				Lehi, UT 84043
			</p>
		</div>

		<div class="links">
			<div class="links-block">
				<h6 class="links-heading">Navigation</h6>
				<nav>
					<ul class="links-list">
						<li class="links-item">
							<a href="#" class="links-link">Accessories</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Best Sellers</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Books-Brochures</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Diffusers</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Monthly Specials</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Share-Training Tools</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Video-Audio</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="links-block">
				<h6 class="links-heading">Account</h6>
				<nav>
					<ul class="links-list">
						<li class="links-item">
							<a href="#" class="links-link">Login</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Create Account</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Forgot Password</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Customer Service</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Orders and Returns</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="links-block">
				<h6 class="links-heading">Company</h6>
				<nav>
					<ul class="links-list">
						<li class="links-item">
							<a href="#" class="links-link">Contact Us</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Terms & Condition</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Privacy Policy</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">About us</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Site Map</a>
						</li>
						<li class="links-item">
							<a href="#" class="links-link">Internet Use Policy</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="another">
			<a href="#">
				<img
					class="networks"
					src="img/social.png"
					alt="Social networks"
				>
			</a>
			<div>
				<p class="past">Yesterday's wisdom</p>
				<p class="now">Today's <span>Discovery</span></p>
			</div>
			<p class="copyrights">
				&copy;2018 Life Science Publishing
				<br>
				All rights reserved.
			</p>
		</div>
	</div>
</footer>