<header class="header">
	<div class="tools">
		<div class="container">
			<div class="tools-set">
				<button class="login" type="button">Sign In</button>
				<div class="country">
					<img class="flag" src="img/US_flag_icon.png" alt="flag">
					<select name="country" class="countries">
						<option value="United States" class="country-name" selected>
							United States
						</option>
						<option value="Great Britain" class="country-name">
							Great Britain
						</option>
					</select>
					<img class="arrow" src="img/arrow.png" alt="arrow">
				</div>
				<button class="cart">
					<img class="cart-icon" src="img/cart.png" alt="cart">
					<span class="cart-count">1</span>
				</button>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-container container">
			<div class="logotype">
				<a href="#0">
					<img class="logo" src="img/LSP_logo.png" alt="Life science">
				</a>
				<div class="slogan">
					<p class="slogan-simple">Your Oils</p>
					<p class="slogan-emphasized">Our tools!</p>
				</div>
			</div>
			<div class="search">
				<form action="#0" class="search-form">
					<input
						class="search-input"
						type="search"
						placeholder="Search"
					>
					<button type="submit" class="btn-loupe">
						<i class="fas fa-search"></i>
					</button>
				</form>
				<a href="tel:1.800.336.6308" class="phone">1.800.336.6308</a>
			</div>
		</div>
	</div>
</header>
