<header class="header">
	<div class="tools">
		<div class="container">
			<div class="tools-set">
				<button class="login" type="button">Sign In</button>
				<div class="country">
					<img class="flag" src="img/US_flag_icon.png" alt="flag">
					<select name="country" class="countries">
						<option value="United States" selected>
							<p class="country-name">United States</p>
						</option>
						<option value="">
							<p class="country-name">United States</p>
						</option>
					</select>
					<img class="arrow" src="img/arrow.png" alt="arrow">
				</div>
				<button class="cart">
					<img class="cart-icon" src="img/cart.png" alt="cart">
					<div class="cart-count">1</div>
				</button>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="container">
			<div class="logotype">
				<a href="#">
					<img class="logo" src="img/LSP_logo.png" alt="Life science">
				</a>
				<div class="slogan">
					<p class="slogan-simple">Your Oils</p>
					<p class="slogan-emphasized">Our tools!</p>
				</div>
			</div>
			<div class="search">
				<form action="" class="search-form">
					<input
						class="search-input"
						type="search"
						placeholder="Search"
					>
					<button type="submit" class="btn-loupe">
						<i class="fas fa-search"></i>
					</button>
				</form>
				<a href="tel:1.800.336.6308" class="phone">1.800.336.6308</a>
			</div>
		</div>
	</div>

	<!-- <div class="container">
		<nav class="nav">
			<ul class="menu">
				<li class="menu-item">
					<a href="" class="menu-link">Home</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Blowout sale</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Lifestyle</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Books</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Best sellers</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Containers</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Diffusers</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">New</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Product</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">LSP Difference</a>
				</li>
				<li class="menu-item">
					<a href="" class="menu-link">Media</a>
				</li>
			</ul>
		</nav>
	</div> -->

	<!-- <img src="img/Girl_Hero.png" alt=""> -->


	<!-- <div class="header-menu-wrapper">
		<div class="container">
			<div class="logo">LOGO</div>
			<div class="nav-drop">
				<nav class="nav">
					<ul class="header-menu">
						<li class="current-menu-item">
							<a href="#">Item 1</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li><a href="#">Item 2-2</a></li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Item 2</a>
							<ul>
								<li>
									<a href="#">Item 2-1</a>
									<ul>
										<li>
											<a href="#">Item 3-1</a>
											<ul>
												<li><a href="#">Item 4-1</a></li>
												<li><a href="#">Item 4-2</a></li>
												<li><a href="#">Item 4-3</a></li>
											</ul>
										</li>
										<li><a href="#">Item 3-2</a></li>
										<li><a href="#">Item 3-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-3</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-mega-menu">
							<a href="#">Mega 3</a>
							<ul class="mega-menu">
								<li>
									<div class="col">
										<h2>Heading 1</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 2</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 3</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Item 4</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<a href="!#" class="nav-opener"><span></span></a>
		</div>
	</div> -->
</header>
