$cardWidth: 220px;

.cards {
	display: grid;
	grid-template-columns: repeat(4, $cardWidth);
	justify-content: space-between;

	@include media("<=desktop") {
		grid-template-columns: repeat(2, $cardWidth);
		grid-row-gap: 50px;
		grid-column-gap: 13%;
		justify-content: center;
	}

	@include media("<=phone") {
		grid-template-columns: $cardWidth;
		grid-column-gap: 0;
	}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-picture {
		margin: 20px;
		width: $cardWidth;
		height: $cardWidth;
		border: 0.5px solid #ccc;
		cursor: pointer;

		@include hover(transform, scale(1.07));
	}

	&-name {
		height: 35px;

		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 15px;

		font-size: 16px;
		line-height: 1.3;
		font-weight: 400;
		font-style: normal;
	}

	&-prices {
		width: 200px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&-circle {
		$circleSize: 60px;
		width: $circleSize;
		height: $circleSize;
		border-radius: 50%;
		line-height: $circleSize;
		font-size: 18px;

		&.small {
			font-size: 16px;
		}
	}

	& sup {
		font-size: 12px;
	}

	&-retail {
		color: $gray;
		text-decoration: line-through;
		background-color: $white;

		&.colored {
			background-color: #ebebeb;
		}
	}

	&-price {
		color: $gray;
		background-color: $strip-color-main;
	}

	&-member {
		color: $white;
		background-color: $strip-color-second;
	}
}

.price {

	&-types {
		display: flex;
		flex-direction: column;
	}

	&-type {
		margin-top: 7px;
		color: $gray;
		font-size: 10px;
		text-transform: uppercase;
	}
}

.buy {
	margin-top: 20px;
	width: 100%;
	height: 40px;

	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.32px;
	text-transform: uppercase;

	color: $white;
	border-radius: 20px;
	background-color: $btn-bg-color;

	@include hover(box-shadow, 0 0 10px $btn-bg-color);
}

.wishlist {
	margin-top: 12px;

	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.24px;
	text-transform: uppercase;

	color: $links-color;

	@include hover(color, #004472);
}
