.container {
	max-width: 1300px;
	margin: 0 auto;
	padding-left: 150px;
	padding-right: 150px;

	@include media("<=1299px") {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

.section {
	padding-top: 37px;
}
