.footer {
	background-color: #2f3337;
	padding-top: 40px;
	padding-bottom: 50px;

	&-container {
		position: relative;
		display: flex;
		justify-content: space-between;

		@include media("<=desktop") {
			flex-direction: column;
			align-items: center;
		}
	}

	&-logo {
		filter: grayscale(100%);
		width: 225px;
		height: 60px;

		@include media("<=desktop") {
			width: 170px;
			height: 45px;
			margin-right: 20px;
		}

		@include media("<=sm-phone") {
			margin-right: 0;
		}
	}

	&-phone {
		display: block;
		margin-top: 40px;
		font-size: 22px;
		font-weight: 600;
		color: #fff;

		@include media("<=desktop") {
			margin-top: 0;
			margin-right: 20px;
			font-size: 18px;
		}

		@include media("<=sm-phone") {
			margin-top: 20px;
			margin-right: 0;
		}
	}
}

.contacts {
	margin-right: 120px;
  display: flex;
	flex-direction: column;

	@include media("<=desktop") {
		width: 70%;
		margin-right: 0;
		margin-bottom: 70px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	@include media("<=tablet") {
		width: 100%;
	}

	@include media("<=sm-phone") {
		flex-direction: column;
	}
}

.address {
	margin-top: 20px;
	color: #6f6f6f;
	font-size: 13px;
	line-height: 1.3;
	letter-spacing: -0.5px;

	@include media("<=desktop") {
		margin-top: 0;
	}

	@include media("<=sm-phone") {
		margin-top: 20px;
		text-align: center;
	}
}

.links {
	display: flex;

	@include media("<=desktop") {
		margin-bottom: 50px;
		width: 70%;
		justify-content: space-between;
		text-align: center;
	}

	@include media("<=tablet") {
		width: 100%;
	}

	@include media("<=sm-phone") {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	&-block {
		width: 150px;

		@include media("<=sm-phone") {
			margin-bottom: 40px;
		}
	}

	&-heading {
		margin-bottom: 14px;
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;

		@include media("<=sm-phone") {
			margin-bottom: 30px;
		}
	}

	&-item {
		margin-bottom: 10px;

		@include media("<=sm-phone") {
			margin-bottom: 25px;
		}
	}

	&-link {
		color: #7ba4b7;
		font-size: 12px;
		letter-spacing: -0.1px;
	}
}

.another {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include media("<=desktop") {
		width: 70%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	@include media("<=tablet") {
		width: 100%;
	}

	@include media("<=sm-phone") {
		flex-direction: column;
	}
}

.networks {
	margin-bottom: 55px;
	text-align: right;

	@include media("<=desktop") {
		margin-bottom: 0;
	}
}

.past {
	font-size: 14px;
	color: #454547;
	margin-bottom: 3px;

	@include media("<=sm-phone") {
		margin-top: 20px;
	}
}

.now {
	margin-bottom: 16px;
	color: #454547;
	font-size: 17px;


	& span {
		color: #92bc25;
		font-style: italic;
		font-weight: 700;
	}
}

.copyrights {
	text-align: right;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.2;
	color: #c2c2c2;

	@include media("<=sm-phone") {
		text-align: center;
		margin-top: 15px;
	}
}