.gallery {
	display: flex;

	@include media("<=md-desktop") {
		margin-right: 20px;
	}

	@include media("<=phone") {
		margin-right: 0;
	}
}

.pictures {
	margin-right: 36px;
	display: flex;
	flex-direction: column;
}

.picture {

	&-small {
		@include size(95px);
		padding: 8px;
		margin-bottom: 8px;

		border: 1px solid #b7b7b7;
		cursor: pointer;

		@include hover(transform, scale(1.05));

		&.current {
			border: 3px solid #b7b7b7;
		}

		@include media("<=sm-phone") {
			@include size(40px);
		}
	}

	&-main {
		@include size(444px);

		@include media("<=md-desktop") {
			@include size(420px);
		}

		@include media("<=desktop") {
			margin-left: 15%;
		}

		@include media("<=tablet") {
			margin-left: 0;
		}

		@include media("<=phone") {
			@include size(320px);
		}

		@include media("<=sm-phone") {
			@include size(220px);
		}
	}
}
