.lightbox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: left;

	& .product {
		position: relative;
		z-index: 20;
		top: 30px;
		left: calc((100vw - 1300px) / 2 + 110px);
		background-color: $white;
		border-radius: 5px;

		@include media("<=1299px") {
			left: calc(5vw);
		}

		@include media("<=xs-phone") {
			left: 1vw;
		}

		& .container {
			padding: 30px 40px 0;
			max-width: 1080px;

			@include media("<=1299px") {
				width: 90vw;
				padding-left: 15px;
				padding-right: 15px;
				max-width: none;
			}

			@include media("<=tablet") {
				padding-left: 10px;
				padding-right: 10px;
			}

			@include media("<=xs-phone") {
				padding-left: 5px;
				padding-right: 5px;
				width: 98vw;
			}
		}
	}

	&-close {
		position: absolute;
		right: -43px;
		top: -55px;

		color: $white;
		font-size: 60px;
		font-weight: 100;

		@include media("<=desktop") {
			font-size: 40px;
			right: 0;
			top: 0;

			color: $black;
		}
	}

	& .about {
		position: relative;
	}

	&-links {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
}

.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 10;
}

.more-link {
	position: absolute;
	top: -5px;
	right: 0;
	display: block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-bottom: 0;

	color: $links-color;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;

	@include hover(border, 1px solid $black);

	@include media("<=tablet") {
		top: 85%;
		right: 10px;
		border-bottom: 1px solid #ccc;
	}

	@include media("<=phone") {
		top: 93%;
		right: 10px;
	}
}
