.nav-mobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -68px;
  left: 0;
  background-color: $black;
  opacity: 0.9;
	z-index: 2;

	@include media("<=desktop") {
		top: -56px;
	}

	@include media("<=phone") {
		top: -98px;
	}

	& .menu {
		display: flex;
		flex-direction: column;
		padding-top: 50px;
		padding-left: 50px;
	}

	& .menu-link {
		margin-bottom: 10px;
	}
}

.navigation {
	position: relative;

	@include media("<=md-desktop") {
		height: 42px;
	}
}

.mobile-menu {
	display: none;
	position: absolute;
	top: -50px;
	right: 3vw;
	z-index: 3;

	@include media("<=md-desktop") {
		display: block;
	}

	@include media("<=desktop") {
		top: -43px;
	}

	@include media("<=phone") {
		top: -87px;
	}

	&-toggler {
		width: 25px;
		height: 25px;
		display: none;
		cursor: pointer;

		&--active {
			display: block;
		}
	}
}
