.news {
	$newsWidth: 220px;
	padding-bottom: 54px;
	text-align: center;

	&-heading {
		@include h2Heading(#fad482);
		margin-bottom: 35px;
	}

	&-block {
		display: grid;
		grid-template-columns: repeat(4, $newsWidth);
		justify-content: space-between;

		@include media("<=desktop") {
			grid-template-columns: repeat(2, $newsWidth);
			grid-row-gap: 50px;
			grid-column-gap: 13%;
			justify-content: center;
		}

		@include media("<=phone") {
			grid-template-columns: $newsWidth;
			grid-column-gap: 0;
		}
	}

	&-one {
		width: $newsWidth;
		text-align: center;
	}

	&-picture {
		width: $newsWidth;
		height: $newsWidth;
	}

	&-name {
		margin-top: 16px;
		font-family: "Lato", sans-serif;
		font-size: 18px;
		line-height: 21px;
		font-weight: 600;
		letter-spacing: -0.36px;
	}

	&-text {
		margin-top: 18px;
		color: #707070;
		font-size: 17px;
		line-height: 21px;
	}

	&-more {
		width: 100%;
		height: 40px;

		margin-top: 22px;

		border: none;
		border-radius: 20px;
		background-color: #84d5d8;

		font-family: "Lato-Semibold", sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
	}
}
