.promos {
	padding-bottom: 41px;
	text-align: center;
	background-color: #ebebeb;

	&-heading {
		@include h2Heading($strip-color-second);
		margin-bottom: 51px;
		cursor: pointer;
	}
}

.actions {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(3, 320px);

	@include media("<=desktop") {
		grid-template-columns: repeat(auto-fill, 320px);
		justify-content: center;
		grid-row-gap: 30px;
		grid-column-gap: 5%;

		&-link:last-child {
			position: relative;
			left: calc(50% + 15px);

			@include media("<=tablet") {
				left: 0;
			}
		}
	}

	@include media("<=tablet") {
		grid-template-columns: 320px;
	}

	&-picture {
		width: 320px;
		height: 180px;

		@include hover(transform, scale(1.03));
	}
}
