.promo {
	background-image: url("../img/Girl_Hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1029px;
	margin: 0 auto;
	position: relative;
}

.phrase {
	@include size(221px);
	position: relative;
	top: 146px;
	left: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(253, 227, 137, 0.6);
	border-radius: 50%;

	@include media("<=desktop") {
		top: 36%;
		left: 1%;
	}

	@include media("<=tablet") {
		top: 105px;
		left: 5vw;
	}

	&-pic {
		width: 145px;
		height: 128px;
	}
}

.advertisements {
	padding: 38px 0;
	position: absolute;
	bottom: 0;

	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;

	@include media("<=desktop") {
		padding: 20px 0;
	}

	&-container {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 320px);

		@include media("<=desktop") {
			grid-template-columns: repeat(auto-fill, 320px);
			justify-content: center;
			grid-row-gap: 10px;
			grid-column-gap: 5%;

			.advertisement:last-child {
				position: relative;
				left: calc(50% + 15px);

				@include media("<=tablet") {
					left: 0;
				}
			}
		}

		@include media("<=tablet") {
			grid-template-columns: 320px;
		}
	}
}

.advertisement {
	width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;
	line-height: 1;

	@include media("<=tablet") {
		&:last-child {
			padding-bottom: 15px;
		}
	}

	&-name {
		margin-top: 11px;
		font-family: "Patua One", cursive;
		font-size: 24px;
		letter-spacing: -0.48px;

		@include media("<=tablet") {
			font-size: 18px;
		}
	}

	&-blog {
		background-color: rgba(33, 128, 178, 0.4);
	}

	&-member {
		background-color: rgba(17, 17, 17, 0.4);
	}

	&-aroma {
		background-color: rgba(81, 118, 30, 0.5);
	}
}

.appeal {
	margin-top: 23px;
	text-transform: uppercase;
}

.blog-pic {
	width: 96px;
	height: 65px;
	margin-top: 12px;

	@include media("<=tablet") {
		display: none;
	}
}

.blog-website {
	display: block;
	margin-top: 13px;
	margin-bottom: 15px;
	font-family: "Lato-Semibold", sans-serif;
	color: $white;

	@include hover(text-shadow, 1px 0 0 $white);
}

.member-pic {
	width: 114px;
	height: 74px;
	margin-top: 12px;

	@include media("<=tablet") {
		display: none;
	}
}

.member-link {
	margin-top: 5px;
	margin-bottom: 14px;
	font-family: "Lato-Semibold", sans-serif;
	color: $white;

	@include hover(text-shadow, 1px 0 0 $white);
}

.aroma-pic {
	width: 192px;
	height: 86px;
	margin-top: 13px;
	margin-bottom: 19px;

	@include media("<=tablet") {
		display: none;
	}
}
