.promos {
	padding-bottom: 41px;
	text-align: center;
	background-color: #ebebeb;

	&-heading {
		@include h2Heading(#84d5d8);
		margin-bottom: 51px;
	}
}

.actions {
	display: flex;
	justify-content: space-between;

	&-picture {
		width: 320px;
		height: 180px;
	}
}