// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
	display: block;
	padding: 0 0 5px;
	margin: 0 0 1.2em 0;
	color: $second-text-color;
}

select {
	border-radius: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='number'],
input[type='date'],
textarea {
	// $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height
	@include button-size($btn-padding-y, $input-padding-x, $btn-font-size, $btn-radius, $btn-border-width, $btn-line-height);
	//color button mixin $background | $color | $border
	@include input-variant(#f1f1f1, $second-text-color, #f1f1f1);
	text-align: left;
	-webkit-appearance: none;
	box-sizing: border-box;
	outline-color: transparent;
	outline: none;
	border-style: solid;
	max-width: 100%;
	width: 100%;
	background: transparent;
	border: 1px solid #E2E2E2;

	&:focus {
		border: 1px solid #2B2E38;
	}
}

textarea {
	resize: none;
	vertical-align: top;
	width: 100%;
	height: 250px;
}

/* button, */
input[type='button'],
input[type='reset'],
// input[type='file'],
input[type='submit'],
button[type='submit'] {
	// $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height
	@include button-size($btn-padding-y, $input-padding-x, $btn-font-size, $btn-radius, $btn-border-width, $btn-line-height);
	//color button mixin $background | $color | $border | $hover-background | $hover-color | $hover-border
	@include button-variant($btn-bg-color, $white, $btn-bg-color, transparent, $second-text-color);
	transition: all 0.3s;
	border-style: solid;
	-webkit-appearance: none;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

input[type='reset'] {
	margin-bottom: 13px;
}

input[type='file'] {
	max-width: 100%;
}

//------------------- style #input #textarea
// removes the icon in the search type field
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

// smoothly changing the transparency of the placeholder with focus for textarea and input and assignment of font color placeholder
textarea,
input {
	@include placeholder {
		color: #000;
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:focus {
		@include placeholder {
			opacity: 0;
		}
	}
}